.modalHandler {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  cursor: pointer;

  transition: 0.5s all;
  border-radius: 8px;

  margin: 10px 0;

  position: relative;

  & > div {
    height: 2px;
    width: 60%;

    background-color: var(--color-white);

    border-radius: 8px;

    transition: 1s ease;

    &::before {
      height: 2.5px;
      width: 60%;

      background-color: var(--color-white);

      content: "";

      color: transparent;

      border-radius: 8px;

      position: absolute;
      top: 12px;
      left: 8px;

      transition: 1s ease;
    }

    &::after {
      height: 2.3px;
      width: 60%;

      background-color: var(--color-white);

      content: "";

      color: transparent;

      border-radius: 8px;

      position: absolute;
      top: 25px;
      left: 8px;

      transition: 1s ease;
    }

    &.active {
      background-color: transparent;

      &::after {
        rotate: 50deg;
        top: 18px;
      }
      
      &::before {
        rotate: -50deg;
        top: 18px;
      }
      
      @media (min-width: 1300px) {
        &::before {
          animation: spin-left 2s ease;
        }
        &::after {
          animation: spin-right 2s ease;
        }
      }
    }
  }

  &:hover {
    background-color: var(--color-gray-1);
    filter: drop-shadow(0px 0px 22px var(--color-white));
  }

  &:not(.show) {
    @media (min-width: 488px) {
      display: none;
    }
  }
}

.mobileMenu {
  position: absolute;
  top: 80px;
  right: 0;
  
  z-index: 5;
  
  width: 100%;
  max-width: 400px;
  
  border-radius: 8px;
  
  background-color: var(--color-gray-2);
  
  box-shadow: 1px 1px 64px gray;
  
  // User menu styles
  & > .userMenuContainer {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    gap: 2rem;

    width: 100%;

    & > div {
      display: flex;
      align-items: center;

      gap: clamp(1rem, 10vw, 2rem);

      padding-bottom: 1rem;
      
      border-bottom: 1px solid var(--color-yellow);
      
      // User first name letter
      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 50px;
        width: 50px;
        
        background-color: var(--color-yellow);
        border-radius: 100%;
      }
    }

    & > span {
      color: #868e96;
    }

    & > button {
      color: var(--color-white);

      margin-bottom: 0.8rem;
    }

  }

  // user not logged on application styles
  .userNotLoggedMenu {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    gap: 1.5rem;

    & > a:first-child {
      margin-top: 20px;
    }

    & > a:last-child {
      margin-bottom: 20px;
    }
  }


  &:not(.show) {
    @media (min-width: 488px) {
      display: none;
    }
  }

  @media (min-width: 412px) {
    right: clamp(0px, 4vw, 30px);
  }
}

.show {
  display: flex;
}

@keyframes spin-left {
  50% {
    top: -10px;
    left: -40px;
  }
  75% {
    rotate: 360deg;
    top: -10px;
    left: -40px;
  }
  100% {
    top: 18px;
  }
}

@keyframes spin-right {
  50% {
    top: 60px;
    left: 80px;
  }
  75% {
    rotate: -270deg;
    top: 60px;
    left: 80px;
  }
  100% {
    top: 18px;
  }
}