:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-yellow: #FFBB38;
  --color-gray-1: #3D3D3D;
  --color-gray-2: #171717;
}

body {
  background-color: var(--color-gray-2);
  color: var(--color-white);
}