.inputBox {
  position: relative;

  height: 4.375rem;
  width: 100%;

  &:has(input:focus) > .label {
    top: -10px;
    left: 5px;

    font-size: 0.9rem;
  }

  & > .label {
    position: absolute;

    transition: 1s;

    &.active {
      top: -10px;
      left: 5px;

      font-size: 0.9rem;
    }

    &:not(.active) {
      top: 26px;
      left: 20px;
    }
  }

  & > input {
    width: 100%;
    height: 100%;

    outline: none;

    background-color: var(--color-gray-1);

    color: var(--color-white);

    padding: 0 1rem;

    border-radius: 8px;
  }

  & > .errors {
    color: rgb(192, 18, 18);

    font-family: 'Inter';
    font-weight: 400;
    
    font-size: clamp(0.875rem, 5vw, 1rem);
  }
}